.preloader {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #4f5f6f;
  /*background: #50cf77;*/
}

.preloader_spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  animation: preloaderRotate 1s infinite linear;
}

@keyframes preloaderRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}